@media screen and (min-width: 900px) {
    main {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
    }

    #whitespace {
        grid-column: 1/2;
    }

    #alignment {
        grid-column: 2/3;
    }

    #contrast {
        grid-column: 3/4;
    }

    #contrast img{
        width: 350px
    }
    
    main div {
        width: 375px;
        justify-self: center;
    }
  }