body {
    max-width: 1000px;
    margin: auto;
    background-color: #F6F4F3;
    color: #183059;
    font-family: 'Roboto', sans-serif;

}
header {
    background-color: #F03A47;
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    max-width: 1000px;
    justify-content: center;
}

h1 {
    grid-column: 2/3;
    color: #F6F4F3;
    font-family: 'Roboto', sans-serif;
    align-self: center;
    padding-right: 150px;
    
}

main {
    padding-left: 10px;
}

footer {
    background-color: #F03A47;
    color: #F6F4F3;
    width: 1000px;
    border-radius: 5px;
    height: 100px;
}

#last-updated {
    color: #ffff00;
}

.footer-content {
    justify-self: center;
    padding: 25px 25px;
}

nav {
	background-color: #AF5B5B;
	text-align: center;
}

nav {
	display: flex;
	flex-direction: row;
}

nav div {
	flex: 1 1 auto;
}

nav a {
	display: block;
	color: #F6F4F3;
	text-align: center;
	padding: 15px;
	text-decoration: none;
	font-size: 0.9rem;
}

nav a:hover {
	background-color: #183059;
	color: #F6F4F3;
}

main p {
    padding-left: 20px;
}

#logo {
    width: 100px;
    margin-left: 100px;
    border-radius: 10px;
    margin-right: 10px;
}

#colors {
    width: 100%;
    /* padding-right: 10px; */
}

td {
    border: 1px solid black;
}

#paragraphSample {
    background-color: #F6F4F3;
    font-size: 16px;
    color: #183059;
}
#headerSample, #h1Sample {
    background-color: #F03A47;
    font-size: 2em;
    color: #F6F4F3;
}
#navSample {
    background-color: #AF5B5B;
    font-size: .9rem;
    color: #F6F4F3;
}
#h2Sample {
    background-color: #F6F4F3;
    font-size: 26px;
    color: #183059;
}
#h3Sample {
    background-color: #F6F4F3;
    font-size: 22px;
    color: #183059;
}
#footerSample {
    background-color: #F03A47;
    font-size: 16px;
    color: #F6F4F3;
}