/* body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	justify-content: center;
}

main {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

img[data-src] {
    filter: blur(0.2em);
  }
  
img {
    filter: blur(0em);
    transition: filter 3s;
    height: 300px;
  } */

table {
	border: thin solid black;
	border-collapse: collapse;
	margin: auto;
}

th, td {
	border: thin solid black;
	padding: 10px;
	text-align: center;
}

tr:first-child th, .highlight {
	background-color: red;
}

th {
	background-color: pink;
}
  
caption {
	caption-side: bottom;
	padding: 10px;
}

tr:nth-child(even) {
	background-color: lightgray;
}