body {
    margin: auto;
    background-color: #F6F4F3;
    color: #183059;
    font-family: 'Roboto', sans-serif;
}
/* header  */
header {
    background-color: #F03A47;
    border-radius: 5px;
}

#upper-header {
    display: none;
    background-color: #F6F4F3;
    text-align: center;
}

header em {
    font-style: normal;
    color: #F6F4F3;
}

#header-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 2%;
}

#secondary-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

h1 {
    grid-column: 2/3;
    color: #F6F4F3;
    font-family: 'Roboto', sans-serif;
    align-self: center;
}

#current-date {
    margin-bottom: .5rem;
}

/* Main  */
#home {
    display: grid;
    grid-template-rows: 10em 10em 10em 10em 20em;
    grid-template-columns: auto;
    margin: 10px 5px;
}

main div {
    /* background-color: #F6F4F3; */
    margin: 5px;
    border: 1px solid gray;
    /* color: gray; */
    padding: 10px;
}

#spotlights {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#spotlight-1, #spotlight-2 {
    margin: 0;
    flex: 1 1 auto;
}

#spotlight-3 {
    display: none;
}

#spotlight-1 img, #spotlight-2 img{
    justify-content: center;
    width: 80px;
}

#spotlight-1 p, #spotlight-2 p, #spotlight-3 p{
    text-align: center;
    margin: 0;
}

#join {
    display: none;
    justify-content: center;
}

#join button {
    background-color: #AF5B5B;
    border-radius: 5px;
    border: none;
    color:#F6F4F3;
    display: flex;
    justify-content: center;
}
div h2 {
    text-align: center;
}

#news h2, #news p {
    margin: 0;
}

#weather p {
    text-align: center;
}

#hero {
    position: relative;
}

#windchill {
    text-align: center;
    border: none;
    margin-top: 0;
    padding-top: 0;
    /* justify-content: center; */
}


#hero button {
    background-color: #AF5B5B;
    border-radius: 5px;
    border: none;
    color:#F6F4F3;
    position: absolute;
    bottom: 20px;
    right: 20px;
    padding: 5px;
}

#hero #hero-picture {
    display: flex;
    width: 100%;
    height: 100%;
    margin: 0;
    justify-content: center;
}

#hero #hero-image{
    /* width: 100%; */
    height: 100%;
    margin: 0;
    justify-self: center;

}

/* Footer  */
footer {
    background-color: #F03A47;
    color: #F6F4F3;
    border-radius: 5px;
}

#last-updated {
    color: #ffff00;
}

.footer-content {
    justify-self: center;
    padding: 25px 25px;
    text-align: center;
}

#primary-footer {
    padding: 10px 20px 0px;
    display: flex;
    flex-direction: row;
    justify-content: end;
}

footer a {
    color: #F6F4F3;
}

.logo {
    /* height: 100%; */
    height: 100px;
    margin: 10px;
    /* margin-left: 10px; */
    border-radius: 10px;
    /* margin-right: 10px; */
}


/* Navigation  */
nav {
    background-color: #AF5B5B;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav button {
    margin: .2rem 2vw;
    border: none;
    font-size: 2rem;
    color: #F6F4F3;
    background-color: #AF5B5B;
}

nav ul li a {
    display: block;
    padding: .8rem 2vw;
    text-decoration: none;
    color: #F6F4F3;
}

nav ul li a .social-media{
    display: inline;
    padding: 0;
    text-decoration: none;
    color: #F6F4F3;
    background-color: black;
}

.social-media {
    width: 30px;
}
#linkedin {
    width: 20px;
}

#facebook {
    width: 30px;
}

nav ul li a:hover {
    background-color: rgba(0, 0, 0, .3);
}

nav ul {
    display: none;
}
nav ul.open {
    display: block;
}

#hamburger-btn span:nth-child(1){
    display: block;
}
#hamburger-btn span:nth-child(2){
    display: none;
}

#hamburger-btn.open span:nth-child(1){
    display: none;
}
#hamburger-btn.open span:nth-child(2){
    display: block;
}


/* Discover page */

#discover {
    display: grid;
    grid-template-rows: auto auto auto auto auto;
    grid-template-columns: auto;
    /* margin: 10px 5px;s */
}

#discover div {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 50rem;
}

.discover-image:hover {
    filter: blur(1px) grayscale(50%);
}

/* .discover-image:hover {
    filter: none;
} */


#social-media-li {
    display: flex;
}

/* Join Form */

#join-page {
    grid-template-columns: auto;
    padding: 2rem;
}

form fieldset {
    border: thin solid #183059;
    border-radius: 10px;
    padding: .5rem 2%;
}

form label {
    width: 50%;
    margin: 0 auto;
}

form legend {
    text-align: center;
    color: #183059;
    padding: 0 .5rem;
}

form label.personal-info, form div {
    display: block;
    padding-top: 1rem;
    color: #183059;
    font-size: .8rem;
}

form label.personal-info input, form label.personal-info select {
    -webkit-appearance: none;
    display: block;
    font-size: 1rem;
    border: solid 1px black;
    border-radius: 4px;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 20rem;
    background-color: rgba(0, 0, 0, .1);
}

form label.membership {
    display: block;
    padding: .75rem;
    color: #183059;
}

form input.submitBtn {
    display: block;
    border: none;
    background-color: #AF5B5B;
    color: white;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 80%;
    margin: 0 auto;
    /* max-width: 20rem; */
}

form label.personal-info input:required {
    border-left: red solid .3rem;
    /* width: 19.7rem; */
}

form label.personal-info input:required:valid {
    border-left: green solid 6px;
    width: 19.7rem;
}

#membership-levels {
    display: none;
    border: thin solid #183059;
    border-radius: 10px;
    padding: .5rem 2%;
}

#membership-levels article, #membership-levels h2{
    width: 50%;
    margin: 0 auto;
}

#submit-button {
    border: none;
    display: block;
}

#gold:hover {
    color: yellow;
    background-color: black;
    border-radius: 10px;
}

#silver:hover {
    color: silver;
    background-color: black;
    border-radius: 10px;

}

#bronze:hover {
    color: #cd7f32;
    background-color: black;
    border-radius: 10px;

}

#np:hover {
    color: #fc4e03;
    background-color: black;
    border-radius: 10px;

}

/* thank you */

#thank-you div{
    height:25em;
    border: none;
}

/* directory */

.directory-grid {
    display: grid;
	grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    border: none;

}

.directory-list {
    grid-template-columns: auto;
    border: none;
}

.directory-section {
	border: thin solid gray;
	margin: 10px;
	text-align: center;
}

.directory-list img {
    display: none;
}

.directory-list section {
    margin: 0;
}

#directory img {
    width: 100px;
}

#grid-buttons {
    justify-content: center;
    display: flex;
    border: none;
}

#grid-buttons button {
    margin: 10px;
    font-size: 30px;
}

/* #grid-buttons {
    font-size: 30px;
} */