@media screen and (min-width: 900px) {
    /* main  */
    #home {
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: 200px 200px 200px;
    }
    
    #hero {
        grid-column: 2/3;
        grid-row: 1/3;
    }

    #news {
        grid-column: 2/3;
        grid-row: 3/4;
    }

    #spotlights {
        grid-column: 1/3;
        grid-row: 3/4;
    }

    #join {
        display: block;
        grid-column: 1/2;
        grid-row: 3/4;
    }

    #spotlights {
        grid-column: 3/4;
        grid-row: 1/4;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    #spotlight-1, #spotlight-2 {
        margin: 0;
        flex: 1 1 auto;
    }

    #spotlight-3 {
        display: block;
        margin: 0;
        flex: 1 1 auto;
    }
    
    #spotlight-1 img, #spotlight-2 img{
        justify-content: center;
        width: 110px;
    }

    #spotlight-3 h2 {
        font-size: xxx-large;
        margin: 0;
    }

    #event {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    #weather {
        grid-column: 1/2;
        grid-row: 2/3;
    }

    #hero #hero-picture {
        display: flex;
        /* width: 100%; */
        /* height: 100%; */
        margin: 0;
        justify-content: center;
    }
    
    #hero #hero-image{
        /* width: 100%; */
        height: 100%;
        margin: 0;
        justify-self: center;
    
    }

    /* Navigation area  */
    nav button {
        display: none;
    }

    nav ul#primary-nav {
        display: flex;
    }
    nav li {
        flex: 1 1 auto;
        justify-content: center;
    }
    nav li a {
        justify-content: center;
    }
    nav ul li a {
        border-top: none;
        text-align: center;
    }
    
    nav ul li a:hover {
        background-color: #183059;
        color: #F6F4F3;
    }
    nav ul li a #social-media{
        display: flex;
        padding: 0;
        flex-direction: row;
    }
    .social-media {
        padding: 0;
        margin: 0;
        width: 30px;
        display: flex;
    }
    #social-media-li {
        width: 30px;
        display: flex;
        align-items: center;
    }
    #join-page {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: stretch;
    }
    form fieldset {
        border: thin solid #183059;
        border-radius: 10px;
        padding: .5rem 2%;
        width: 25em;
      }

    #membership-levels {
        display: block;
        border: thin solid #183059;
        border-radius: 10px;
        padding: .5rem 2%;
        width: 45%;
    }
    
    #discover {
        grid-template-columns: auto 40%;
    }
    .discover-image {
        width: 100%;
        height: 100%;
    }
    #demo {
        grid-column: 2/3;
        grid-row: 1/6;
    }
    #demo li, #demo p {
        margin: 20px;
    }
    #demo p {
        font-size: 18px;
        line-height: 25px;
    }

    /* directory */
    .directory-list section {
        display: flex; 
        flex-direction: row;
        justify-content: space-between;
        justify-items: center;
        vertical-align: middle;
        padding: 5px;
    }
    
    .directory-list p, .directory-list a {
        vertical-align: middle;
        text-align: center;
    }
    .directory-list h2 {
        width: 10rem;
        text-align: left;
    }
  }