@media screen and (min-width: 900px) {
    /* main  */
    main {
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: 200px 200px 200px;
    }

    #hero {
        grid-column: 2/3;
        grid-row: 1/3;
    }

    #news {
        grid-column: 2/3;
        grid-row: 3/4;
    }

    #spotlights {
        grid-column: 1/3;
        grid-row: 3/4;
    }

    #join {
        display: block;
        grid-column: 1/2;
        grid-row: 3/4;
    }

    #spotlights {
        grid-column: 3/4;
        grid-row: 1/4;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    #spotlight1, #spotlight2 {
        margin: 0;
        flex: 1 1 auto;
    }

    #spotlight3 {
        display: block;
        margin: 0;
        flex: 1 1 auto;
    }
    
    #spotlight1 img, #spotlight2 img{
        justify-content: center;
        width: 110px;
    }

    #spotlight3 h2 {
        font-size: xxx-large;
        margin: 0;
    }

    #event {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    #weather {
        grid-column: 1/2;
        grid-row: 2/3;
    }


    /* Navigation area  */
    nav button {
        display: none;
    }

    nav ul#primary-nav {
        display: flex;
    }
    nav li {
        flex: 1 1 auto;
        justify-content: center;
    }
    nav li a {
        justify-content: center;
    }
    nav ul li a {
        border-top: none;
        text-align: center;
    }
    
    nav ul li a:hover {
        background-color: #183059;
        color: #F6F4F3;
    }
    nav ul li a .social-media{
        display: inline;
        padding: 0;
        text-decoration: none;
        color: #F6F4F3;
        background-color: black;
        /* border-top: 1px solid rgba(0, 0, 0, .5); */
    }
  }